table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 2px solid cornflowerblue;
    padding: 20px;
    margin: 10px;

}
thead{
    font-family: ".SF NS Mono";
    font-size: 28px;
    color: red;

}
body{
    background-color: #26eedd;
}
h2{
    text-align: center;
    font-size: 30px;
    color: brown;
}
img{

display: block;
    width: 10%;
    margin: auto;

}
